.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

}
/* .login-form__title {
  font-size: 1.2rem;
  text-align: center;
}
.login-form__input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
} */

.login-form .form-control {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}